body * {
    font-family: 'Open Sans', sans-serif;
}

.bg-site-color a {

    color: #fff;
}

.bg-site-second-color {
    background-color: #510094;
}

.btn-schoen {
    display: inline-block;
    border: none;
    transition: all 0.2s;
    font-weight: 500;
    background: #583520;
    padding: 10px 35px;
    color: #ffffff;
    letter-spacing: 0.01em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}
.btn-schoen:hover {
    background: #734826;
    cursor: pointer;
    color: #ffffff;
}


.table-striped tbody tr:nth-of-type(odd) {
	
}
.btn-primary {
    background-color: #de5421;
    border: #de5421;
}
.btn-primary:hover {
    background-color: #de5421;
}

.text-primary {
    color: #de5421 !important;
}

.card-body {
    padding: 1rem;
}

.cover-text {
    text-align: center;
}
.cover-text > form > button {
    color: #ffffff;
    background-color: #de5421;
    border: #de5421;
    width: 100px;
    margin-right: 20px;
}
.cover-text > form > a {
    width: 100px;
}

/***********************/
h1 {
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
	margin-top:10px;
}
.h1 {
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
	margin-top:10px;
}

h2 {
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
	margin-top:10px;
}

.col-lg-3 .col-sm-12 .h1 {
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
	margin-top:10px;
}
.col-lg-3 {
	width:30%;
}
.status {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 auto;
	margin-top:12px;
}
.table {
	overflow:hidden;
	position:relative;
	margin-bottom:150px;
	width:100%;
}
.table td {
	height:55px;
	padding:18px 0.75rem 5px;
	font-size:14px;
	font-weight:500;
	color:#333;
}
.table td img {
	width:40px;
	height:40px;
	vertical-align:bottom;
	padding-bottom:5px;
}
.table-dark, .table-dark > td, .table-dark > th {
	background:#DCDCDC;
}
.table-striped tbody tr:nth-of-type(odd) {
	background:#E1F4FF;
}
.table-striped tbody tr:nth-of-type(1) {
	box-shadow:0px 1px 5px 0px #000;
	
}
.table-dark, .table-dark > td, .table-dark > th {
	background:#fff !important;
}
.text-secondary:nth-of-type(1){

}
.text-secondary {
	padding-left:10px;
	color:#000 !important;
}
.text-primary {
	color:red !important;
}

a {
    color: #ff6162;
    text-decoration: none;
}

a:hover {
    color: #FF1E20;
    text-decoration: none;
}

.status.online {
    background-color: green;
}
.status.offline {
    background-color: red;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    background: none;
}

.admin_active {
    background: #583520;
    color: #fff;
    transition: all .2s;
}

.admin_active:hover {
    background: #734826;
    color: #fff;
    transition: all .2s;
}

.toggle-off.btn {
    padding-left: 24px;
    background: #252525;
    color: #fff;
    cursor: pointer;
}

.toggle-on.btn {
    padding-right: 24px;
    cursor: pointer;
}

.navbar .navbar-expand-lg {
	border-bottom:1px solid red;
}
.navbar .navbar-expand-lg .navbar-light .bg-light {
	background:#2399ff;
}
.bg-light {
	background:#2399ff !important;
	
 }



.nav-item a {
	border:1px solid #fff;
}
.nav-item a:hover {
	background:#3a86ff;
	border:1px solid #3a86ff;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1.0rem;
	padding-left: 1.0rem;
}

.col-lg-2 {
	padding-top:80px;
	background:#333;
}

.list-group {
	background:#333;
	color:#fff;
	margin-left:10px;
	height:1000px;
}
.table {
	margin-top:20px;
}
.list-group-item {
	background:#333;
	margin-top:1px;
	border:none;
	border-bottom:1px solid #3A3A3A;
}

.list-group-item a {
	color:#fff;

}
.list-group-item-action:focus, .list-group-item-action:hover {
	background:#fff;
	color:#333;
	border-bottom:1px solid #3a86ff;
}
.list-group-item-action {
	color:#fff;
	
}
.main-title-wrap {
	font-size:20px;
	font-weight:bold;
	letter-spacing:0.5px;
}

.btn-schoen {
	padding:8px 20px;
	margin-bottom:25px;
	font-size:12px;
	background:#3a86ff;
	border:1px solid #3a86ff;
}
.btn-schoen:hover {
	border:1px solid #3a86ff;
	background:#fff;
	color:#3a86ff;
}

.admin_active {
	background:#494949;
}


.form-control {
	width:auto;
}
select.form-control:not([size]):not([multiple]) {
	height:auto;
}

.form-group {
	margin-bottom:2rem;
	margin-top:15px;
}

.card-body {
	min-height:90px;
	border-radius:2px;
	transition:0.7s ease all;
}
.card-body:hover:nth-of-type(1) {
	background:#333;
}
.boja1 {
	background:#0084FF;
	color:#fff;	
}
.boja2 {
	background:#FF0004;
	color:#fff;	
}
.boja3 {
	background:#019300;
	color:#fff;	
}
.boja4 {
	background:#FFB600;
	color:#fff;	
}

.col-md-6 {
	margin-top:50px;
	margin-bottom:30px;
	border-top:1px solid #B8B8B8;
	padding-top:10px;
}

.h5, .h6, h5, h6 {
	margin-bottom:0;
}


.btn-group .btn {
	outline:none;
	background:#fff;
	border-radius:0;
	transition:0.7s ease all;
}
.btn-group .btn:hover {
	cursor:pointer;
	background:#333;
	color:#fff;
}
.btn-group .btn.active {
	background:#3a86ff;
	outline:none;
	color:#fff;
}
.btn-group, .btn-group-vertical {
	box-shadow:0px 1px 5px 0px #000;
	outline:none;
}

.btn-primary {
	background:#007bff !important;
}
.btn-primary:hover {
	background:#3a86ff !important;
}

.card-body .form-group .form-control {
	width: 70%;
}
.card-body .form-group label {
	display:block;
}

.col-lg-5 {
max-width: 20%;
}
unavailable_text {

}
.col-lg-1 {
	flex: 0 0 20%;
    max-width: 20%;
	
}

.card-header {
	background:#333;
	color:#fff;
}


.product-image-list .image-preview {
	padding:30px;
}
.product-image-list .pull-right {
	float:none;
	padding:10px;
}
.product-image-list .svg-inline--fa.fa-w-16 {
	width:2em;
}

#modal_form {
	margin-top:50px;
}
.modal-content {
	padding:30px;
}
.cover-text > form > button {
	background:#3a86ff;
}
.cover-text h1 {
	font-weight:normal;
	line-height:2;
	padding:5px;
}
.cover-text > form > button:hover {
	background:red;
	cursor:pointer;
}



.fa-edit {
	margin-left:35%;
}
.fa-trash {
	margin-left:35%;
}

.fa-shopping-cart{
	font-size:35px;
	margin-top:8px;
}
.fa-briefcase {
	font-size:35px;
	margin-top:8px;
}

footer {
	position:absolute;
	bottom:0;
	right:0;
	margin-bottom:30px;
}




















